.gitignore
dif.bat
FindChanges.bat
make.bat
MakeRel.bat
UpdExtras.bat
SysTools.zip
SysToolsLib_Public.zip
C/LoDosLib/dosdrv.inc
C/PModeLib/PMODE.inc
C/SRC/install.bat
C/Experiments/

C/BiosLib/configure.bat
C/BiosLib/make.bat
C/LoDosLib/configure.bat
C/LoDosLib/make.bat
C/MsvcLibX/configure.bat
C/MsvcLibX/make.bat
C/MsvcLibX/src/configure.bat
C/MsvcLibX/src/make.bat
C/PModeLib/configure.bat
C/PModeLib/make.bat
C/SRC/configure.bat
C/SRC/configure.JFL@Home.bat
C/SRC/make.bat
C/SysLib/configure.bat
C/SysLib/make.bat
C/SysLib/clean.bat
C/SysLib/clean
C/configure.bat
C/make.bat

*~
*#
*.0??
*.bak
*.log
*.pdb
*.lib
*.out
config.*.bat
scriptDirs.lst
bin/
ARM/
ARM64/
BIOS/
DOS/
IA64/
Linux.x86_64/
WIN32/
WIN64/
WIN95/
WINXP/
lib/
list/
obj/
